{% extends "feed/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            {% if object.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update Post</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete Post</a>
            </div>
            {% endif %}
        </div>
        <img class="rounded-circle article-img" src="{{ post.sandwich_image.url }}"> <!-- Image design needs to be changed -->
        <h2 class="article-title">{{ object.sandwich }}</h2>
        {% if object.about %}
        <p class="article-content">{{ object.about }}</p>
        {% endif %}
        <div class="d-grid gap-2 d-md-block">
            {% for attribute in post.get_sandwich_attributes %}
                <button type="button" class="btn btn-dark btn-sm mb-1">{{ attribute }}</button>
            {% endfor %}
        </div>
        <small>{{ post.number_of_likes }} likes </small>
        {% if user.is_authenticated %}
            {% if user in post.likes.all %}
            <a href="{% url 'post_like' post.id %}">Unlike</a>
            {% else %}
            <a href="{% url 'post_like' post.id %}">Like</a>
            {% endif %}
        {% endif %}
        </div>
    </article>
{% endblock content %}