{% extends "feed/base.html" %}
{% block content %}
<div class="container">
  {% with request.GET.query as query %}
  <h2>Search Results for: {{ query }}</h2>
  {% endwith %}
  {% if posts %}
    <div class="row">
      {% for post in posts %}
        <div class="col-md-4 mb-4">
          <article class="card border h-100">
            <!-- Sandwich Image -->
            <a href="{% url 'post-detail' post.id %}">
              <img src="{{ post.sandwich_image.url }}" class="post-image" alt="{{ post.sandwich }}">
            </a>

            <!-- Card Body -->
            <div class="card-body">
              <!-- Title + Likes -->
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="card-title mb-0">
                  <a href="{% url 'post-detail' post.id %}" class="article-title text-decoration-none">
                    {{ post.sandwich }}
                  </a>
                </h5>

                <!-- Likes -->
                {% if user.is_authenticated %}
                  <a href="{% url 'post_like' post.id %}" class="text-danger d-flex align-items-center text-decoration-none">
                    <span class="text-decoration-none">{{ post.number_of_likes }}</span>
                    {% if user in post.likes.all %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill ml-2" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/></svg>
                    {% else %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart ml-2" viewBox="0 0 16 16"><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/></svg>
                    {% endif %}
                  </a>
                {% else %}
                  <span class="text-secondary d-flex align-items-center">
                    <span class="text-decoration-none">{{ post.number_of_likes }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart ml-2" viewBox="0 0 16 16"><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/></svg>
                  </span>
                {% endif %}
              </div>

              <!-- User and Date -->
              <div class="d-flex align-items-center mb-2">
                <img src="{{ post.author.profile.image.url }}" alt="{{ post.author }}" class="author-img">
                <small class="text-muted">
                  <a href="{% url 'user-posts' post.author.username %}" class="author-link">
                    {{ post.author }}
                  </a> &nbsp;-&nbsp;
                  {{ post.date_posted|date:"F d, Y" }}
                </small>
              </div>

              <!-- About -->
              {% if post.about %}
                <p class="card-text mb-2">
                  {{ post.about }}
                </p>
              {% endif %}

              <!-- Tags -->
              <div class="d-grid gap-2 d-md-block">
                {% for attribute in post.get_sandwich_attributes %}
                  <button type="button" class="btn btn-dark btn-sm mb-1">{{ attribute }}</button>
                {% endfor %}
              </div>
            </div>
          </article>
        </div>
      {% endfor %}
    </div>
    <!-- No Match found -->
  {% else %}
    <div class="alert alert-info">
      No posts found matching your search.
    </div>
  {% endif %}
</div>

{% if is_paginated %}
  {% with request.GET.query as query %}
    {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?query={{ query }}&page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?query={{ query }}&page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?query={{ query }}&page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?query={{ query }}&page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?query={{ query }}&page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?query={{ query }}&page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
  {% endwith %}
{% endif %}
{% endblock content %}