{% extends "feed/base.html" %}
{% block content %}
  {% if posts %}
    {% for post in posts %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
          </div>
          <img class="rounded-circle article-img" src="{{ post.sandwich_image.url }}"> <!-- Image design needs to be changed -->
          <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.sandwich }}</a></h2>
          {% if post.about %}
          <p class="article-content">{{ post.about }}</p>
          {% endif %}
          <div class="d-grid gap-2 d-md-block">
            {% for attribute in post.get_sandwich_attributes %}
              <button type="button" class="btn btn-dark btn-sm mb-1">{{ attribute }}</button>
            {% endfor %}
          </div>
          <small>{{ post.number_of_likes }} likes </small>
        </div>
      </article>
    {% endfor %}
  {% else %}
    <div class="alert alert-info">
      No posts found matching your search.
    </div>
  {% endif %}
{% endblock content %}