{% extends "feed/base.html" %}
{% block content %}
<div class="container-fluid px-0 shop-cart-container pb-4">
    {% if cart_products %}
        {% for product in cart_products %}
            <article class="shop-cart-post-cube">
                <div class="media-body">
                    <div class="shop-cart-rows-content"> 

                        <!-- TITLE AND TAGS -->
                        <div class="shop-cart-first-row">                    
                            <h2 class="article-title title-text-move">{{ product.sandwich }}</h2>                           
                            <div class="d-grid gap-2 d-md-block">  
                                {% for attribute in product.get_sandwich_attributes %} 
                                    <button type="button" class="btn btn-filled-green btn-sm mb-1">{{ attribute }}</button>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- SANDWICH IMAGE -->
                        <img class="sandwich-photo-shopping-cart" src="{{ product.sandwich_image.url }}">  
                    </div>

                    <!-- QUANTITY OF SANDWICH -->
                    <div class="second-row-shop-cart">
                        <div class="row quantity-shop-cart-edit">
                            <h2 class="quantity-text-shop-cart">Quantity:</h2>
                            <select class="form-select ml-3" id="qty-cart-{{ product.id }}">
                                {% for key, value in quantities.items %}
                                    {% if key == product.id|slugify %}
                                        <option selected>{{ value }}</option>
                                    {% endif %}
                                {% endfor %}
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>

                            <!-- UPDATE AND REMOVE BUTTON -->
                            <button type="button" data-index="{{ product.id }}" style="margin-left: 10px;" class="btn btn-outline-secondary btn-sm mt-1 mb-1 btn-hover-white update-cart">Update</button>
                            <button type="button" data-index="{{ product.id }}" class="btn btn-outline-danger btn-sm mt-1 mb-1 btn-hover-white delete-product">Remove</button>
                        </div>

                        <!-- PRICE OF SANDWICH -->
                        <h3 class="product-price-edit">{{ product.price }}€</h3>
                    </div>                                    
                </div>
            </article>
        {% endfor %}

        <!-- TOTAL PRICE -->
        <div class="d-flex justify-content-between align-items-center mt-4 w-100">
            <div class="text-start">
                {% if request.user.profile.premium %}
                    <h3 class="total-text-edit mb-0">Total (premium discount): {{ totals|floatformat:2 }}€</h3>
                {% else %}
                    <h3 class="total-text-edit mb-0">Total: {{ totals }}€</h3>
                {% endif %}
            </div>

        <!-- CHECKOUT -->
            <div class="text-end">
                <a href="{% url 'checkout' %}" class="btn btn-outline-yellow">Checkout</a>
            </div>
        </div>        

    <!-- EMPTY CART -->
    {% else %}
        <h1>Your Shopping Cart Is Empty!</h1>
    {% endif %}

</div>

<script>
    // UPDATE NUMBER OF SANDWICH IN CART
    $(document).on('click', '.update-cart', function(e){
        e.preventDefault();
        var productid = $(this).data('index');
    
        $.ajax({
        type: 'POST',
        url: "{% url 'cart_update' %}",
        data: {
            product_id: $(this).data('index'),
            product_qty: $('#qty-cart-' + productid + ' option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function(json){
            location.reload();
        },
        error: function(xhr, errmsg, err){
        }
        });
    })

    // DELETE ITEM FROM CART
    $(document).on('click', '.delete-product', function(e){
        e.preventDefault();
        
        $.ajax({
        type: 'POST',
        url: "{% url 'cart_delete' %}",
        data: {
            product_id: $(this).data('index'),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function(json){
            location.reload();
        },
        error: function(xhr, errmsg, err){
        }
        });
    })
</script>
{% endblock content %}